<main>
  <img src="assets/messenger-icon.svg" alt="Messenger icon">
  <h1>Kapcsolattartás a kedvenc embereiddel</h1>
  <input type="text" placeholder="E-mail cím vagy telefonszám">
  <input type="password" placeholder="Jelszó">
  <button>Tovább</button>
  <label>
    <input type="checkbox">
    Bejelentkezve maradok.
  </label>
</main>
<footer>
  <nav>
    <a href="#">Nem vagy a Facebookon?</a>
    <a href="#">Elfelejtett jelszó</a>
    <a href="#">Adatvédelmi szabályzat</a>
    <a href="#">Feltételek</a>
    <a href="#">A cookie-k használatára vonatkozó szabályzat</a>
    <a href="#">© Meta 2023</a>
  </nav>
</footer>